* {
  margin: 0;
  padding: 0;
}

#header{
  position: absolute;
  z-index: 10;
  width: 100%
}

.navbar{
  padding: 20px 0;
  background-color: black;
  opacity: 0.8;
}

.navbar-brand{
  font-weight: 600;
  font-size: 1.5em;
}

.navbar-dark .navbar-brand{
  color: #dcdde1;
}

.nav-item{
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
  background: #dcdde1;
  color: #262626;
}

.main{
  position: relative;
  background: url(https://fotos.subefotos.com/022fc019063c5cc605aed5b0a2489d53o.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 220px 0 200px;
}

.main h2 {
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  color: #dcdde1;
  text-transform: uppercase;
  font-weight: bold;
}

.main p {
  margin-top: 1em;
  padding: 0;
  font-size: 1em;
  color: #dcdde1;
}

.main .btn{
  background: #718093;
  color: #fff;
  border-radius: 0;
}



div#enlaces_2 {
  text-align: center;
}
div#enlaces_2 a {
  padding: 10px;
}

div#edit_info {
  text-align: center;
  font-family: 'Cardo', serif;
  padding-top: 120px;
}

div#edit_info h2 {
  border-top: 1px solid black;
  padding-top: 30px;
}

img#rioedit{
  height: 600px;
  width: 100%;
}

div#card_style{
  border-top: 1px solid black;
  padding: 40px;
  text-align: center;
  font-family: 'Cardo', serif;
}

/**RESPONSIVE*/

@media(max-width: 768px){
  .main{
    padding: 200px 0;
  }

  .main h2 {
    font-size: 2em;
  }


  div.edit_stilos3 img{
    height: 220px;
  }
}
